.idea
.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json



node_modules
yarn-error.log
__diff_output__
.env

dist/

.DS_Store
.history

packages/api/src/schema.types.ts
packages/api/src/prisma.ts
packages/frontend/src/gql-generated
